<div class="col-md-4 offset-md-2 mt-5">
  <% if task.progress == 'Terminer' %>
    <div class="card task-style-completed">
      <div class="card-body task">
        <h5 class="card-title"><%= task.title %></h5>
        <h6 class="card-subtitle task-content-style"><%= task.content %></h6>
        <i><%= link_to '', task_path(task), :class => "far fa-eye card-link" %></i>
      </div>
    </div>
  <% elsif task.progress == 'En cours' %>
    <div class="card task-style-in-progress">
      <div class="card-body task">
        <h5 class="card-title"><%= task.title %></h5>
        <h6 class="card-subtitle task-content-style"><%= task.content %></h6>
        <i><%= link_to '', task_path(task), :class => "far fa-eye card-link" %></i>
      </div>
    </div>
  <% else %>
    <div class="card task-style-to-done">
      <div class="card-body task">
        <h5 class="card-title"><%= task.title %></h5>
        <h6 class="card-subtitle task-content-style"><%= task.content %></h6>
        <i><%= link_to '', task_path(task), :class => "far fa-eye card-link" %></i>
      </div>
    </div>
  <% end %>
</div>
