<div class="container">
  <% if @tasks.empty? %>
    <h3 class="center text-light index-title">Vous n'avez pas encore organisé vos tâches</h3>
  <% else %>
    <div class="row" id="tasks">
      <% @tasks.each do |task| %>
        <%= render 'tasks/index', task: task %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="create-tasks-form">
  <%= simple_form_for(@task, remote: true) do |f| %>
    <%= f.input :title %>
    <%= f.input :content, as: :text %>
    <%= f.input :progress, collection: %w[Terminer En\ cours A\ faire] %>
    <%= f.button :submit %>
  <% end %>
</div>



