<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<%= simple_form_for(@task, remote: true) do |f| %>
  <%= f.input :title %>
  <%= f.input :content, as: :text %>
  <%= f.input :progress, collection: %w[Terminer En\ cours A\ faire] %>
  <%= f.button :submit %>
<% end %>


<div id="tasks">
<% @tasks.each do |task| %>
  <%= render 'tasks/index', task: task %>
<% end %>
</div>
